*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: #a9a9a9;
    transition: all 0.3s ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}