#backToTop_btn{
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    z-index: 30;
    border: none;
    outline: none;
    background-color: transparent;
    color: grey;
    border: 2px solid #e8e8e8d2;
    cursor: pointer;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    line-height: 1 !important;
    transition: all 0.3s ease-in-out;
    -webkit-user-drag: none;
    padding: 4px;
}
#backToTop_btn > img {
    -webkit-user-drag: none;
    width: 70%;
    height: 70%;
}

#backToTop_btn:hover{
    background-color: #e8e8e8b0;
    
    color: #333;
}