@media screen and (max-width: 1100px) {
    .header-Right{
        display: none;
    }
    #headerDropDownMenu-Logo{
        display: inline-block;
    }

    #headerDropDownMenu-Search{
        display: flex;
    }
    #searchbox{
        width: 300px;
    }
}
@media screen and (max-width: 800px) {
    .header-nav{
        display: none;
    }
    #header-Title h1{
        text-align: center;
    }
    #headerDropDownMenu-Link{
        display: block;
    }
    #searchbox{
        width: 70%;
    }
    #search{
        width: 100%;
    }
}
@media screen and (max-width: 470px) {
    #footer-Title p{
        display: none;
    }
}