#backToTop_btn{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 30;
    border: none;
    outline: none;
    background-color: #2f78ff99;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    font-size: 18px;
    padding: 6px;
    width: 26px;
    height: 26px;
    font-size: 12px;
    line-height: 1 !important;
}