#newsLoop{
    background-color: orange;
    margin: 0 auto;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 1px;
}
#newsLoop h4{
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 0;
    padding-top: 2px;
}
#newsLoop .newsLoop-Container{
    background-color: white;
    position: relative;
}
#newsLoop p{
    margin-bottom: 2px;
    margin-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
#setNewsLoop{
    float: right;
    font-weight: lighter;
    cursor: pointer;
    user-select: none;
}
#setNewsLoop span{
    margin-right: 18px;
}
#setNewsLoop #newsCount{
    cursor: default;
}
@media screen and (max-width: 320px) {
    #newsLoop{
        margin-left: 0px;
        margin-right: 0px;
    }
    .newsLoopUnimportant{
        display: none;
    }
}
#newsLoop h4{
    font-size: 14px;
}
