
body{
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, rgba(36, 85, 230, 0.8) 40%, rgba(66, 245, 189, 0.4) 100%) !important;
    background-repeat: no-repeat;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.7;
    /**
    Add blur background to the shapes
    **/
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    /**
    Make the shapes   move  in small position
    **/
}
@keyframes moveInSmallPosition {
    0% { transform: translate(0, 0); }
    25% { transform: translate(10px, 0); }
    50% { transform: translate(10px, 10px); }
    75% { transform: translate(0, 10px); }
    100% { transform: translate(0, 0); }
}

.background .shape {
    animation: moveInSmallPosition 25s linear infinite;
}

.shape:first-child{
    background: linear-gradient(
        #2455E6,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}


#form-container{
    height: 520px;
    width: 90%;
    max-width: 1200px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 40px 35px;
}
#login-form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
#login-form{
    width: 60%;
}
#form-Title{
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    margin-bottom: 2px;
}
#form-subheading{
    margin-bottom: 1px;
}
label{
    display: block;
    margin-top: 4px;
    font-size: 16px;
    font-weight: 500;
}
input[type="text"]{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
#password{
    height: 50px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
#show_password{
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 1;
    margin-top: 8px;
}
#show_password:hover{
    --bs-btn-hover-bg: rgba(255,255,255,0.2);
}
.input[type="checkbox"]{
    width: 8px
}
.input-group {
    display: flex;
    align-items: center;
}
#remember-me{
    margin-right: 4px;
}

.input-group label{
    margin: 0;
}
::placeholder{
    color: #e5e5e5;
}
#login{
    margin-top: 10px;
    width: 100%;
    background-color: #2455E6;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#login:hover{
    background-color: rgba(36, 85, 230, 0.5)
}
.social{
  margin-top: 12px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}
#form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#form-poster *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
#form-poster{
    width: 30%;
}
#form-poster-decoration{
    /**
    Make a vertical divider, 20px from the top and bottom of the container
    **/
    position: absolute;
    top: 20px;
    bottom: 20px;
    box-sizing: border-box;
    width: 4px;
    height: calc(100% - 40px);
    background-color: rgba(255,255,255,0.1);
    border-radius: 2px;
}
#form-poster-detail{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
#form-poster-detail img{
    height: 200px;
    margin-bottom: 10px;
}
#portal-LearnMore{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 14px;
    border-radius: 4px;
    background-color: #23a2f6;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    border: 2px solid #23a2f6;
    display: inline-block;
}
#portal-LearnMore:hover{
    background-color: rgba(255,255,255,0.2);
}