
body{
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, rgba(59, 146, 213, 0.8) 40%, rgba(9, 95, 253, 0.4) 100%);
    background-repeat: no-repeat;
    animation: gradient 10s ease-in-out infinite;
    background-size: 200% 200%;
    transition: all 0.2s ease-in-out;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

#form-container{
    height: 520px;
    width: 90%;
    max-width: 1200px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 40px 35px;
}
#login-form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
#login-form{
    width: 60%;
}
#form-Title{
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    margin-bottom: 2px;
}
#form-subheading{
    margin-bottom: 1px;
}
label{
    display: block;
    margin-top: 4px;
    font-size: 16px;
    font-weight: 500;
}
input[type="text"]{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
input[type="email"]{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
input[type="password"]{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
#password{
    height: 50px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
#show_password{
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 1;
    margin-top: 8px;
}
#show_password:hover{
    --bs-btn-hover-bg: rgba(255,255,255,0.2);
}
.input[type="checkbox"]{
    width: 8px
}
.input-group {
    display: flex;
    align-items: center;
}
#remember-me{
    margin-right: 4px;
}

.input-group label{
    margin: 0;
}
::placeholder{
    color: #e5e5e5;
}
#login{
    margin-top: 10px;
    width: 100%;
    background-color: #2455E6;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#login:hover{
    background-color: rgba(36, 85, 230, 0.5)
}
.social{
  margin-top: 12px;
  display: flex;
  width: 100%;
}
.social div{
  background: red;
  width: 200px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}
#form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#form-poster *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
#form-poster{
    width: 30%;
}
#form-poster-decoration{
    /**
    Make a vertical divider, 20px from the top and bottom of the container
    **/
    position: absolute;
    top: 20px;
    bottom: 20px;
    box-sizing: border-box;
    width: 4px;
    height: calc(100% - 40px);
    background-color: rgba(255,255,255,0.1);
    border-radius: 2px;
}
#form-poster-detail{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
#form-poster-detail img{
    height: 80%;
    width: 80%;
    margin-bottom: 10px;

}
.portal-LearnMore{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 6px 14px;
    border-radius: 4px;
    background-color: #23a2f6;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    border: 2px solid #23a2f6;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
#portal-LearnMore:hover{
    background-color: rgba(255,255,255,0.2);
}
/** Make the form pop up from up to down, like discord **/
.form-containerAmination{
    animation: floatDown 0.5s ease;
}
@keyframes floatDown {
    0% {
        top: -20%;
    }
    60%{
        top: 60%;
    }
    100%{
        top: 50%;
    }

}
/** Warning animation **/
.loginFormWarningContainer-animation{
    animation: floatDownWarning 0.5s ease;
}
@keyframes floatDownWarning {
    0% {
        top: -200vh;
    }
    20%{
        top: 0px;
    }
    60%{
        top: 30px;
    }
    100%{
        top: 20px;
    }

}
#loginFormWarningContainer{
    /** Same as the form container **/
    width: 70%;
    max-width: 1200px;
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    margin: auto;
}
#portal-Accessibility-Toast{
    /** Right */
    position: absolute;
    right: 10px;
    top: 10px;
}
#portal-Accessibility-Toast-Button{
    padding: 4px 8px;
}
.opacity-0{
    opacity: 0;
}
.opacity-1{
    opacity: 1;
}
#portalForm{
    transition: all 1s ease-in-out;
}
#regForm{
    display: none;
}
#regFormPassword{
    height: 50px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
#show_passwordRegForm{
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 1;
    margin-top: 8px;
}
#show_passwordRegForm:hover{
    --bs-btn-hover-bg: rgba(255,255,255,0.2);
}
#regForm-MFA{
    display: none;
    padding-left: 20px;
}
#regForm-MFA .input-group{
    display: flex;
    flex-wrap: nowrap;
}
.mfaTip{
    margin-left: 4px !important
}
#regForm-MFA-Verify{
    margin-top: 10px;
    width: 100%;
    background-color: #2455E6;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#register{
    margin-top: 10px;
    width: 100%;
    background-color: #2455E6;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.regForm-MFA-ImageContainer{
    background-color: white;
    padding: 4%;
    width: 200px;
    height: 200px;
}
.regForm-MFA-ImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.regForm-MFA-Intro{
    font-size: 12px;
    font-weight: 300;
    line-height: 0.5;
}
#resetPassword{
    display: none;
}
.nav {
    margin-top: 20px;
}
#tryReset{
    margin-top: 10px;
    width: 100%;
    background-color: #2455E6;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#resetPasswordFormPassword{
    height: 50px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
#resetPasswordFormEmail{
    height: 50px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.alert-warning-override{
    background-color: rgba(255,255,255) !important;
    border: 2px solid rgba(255,255,255,0.1) !important;
    color: black !important;
}

@media screen and (max-width: 768px) {
    #form-container{
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: static;
        transform: none;
        border-radius: 0%;
    }
    #form-poster{
        width: 100%;
        margin-bottom: 20px;
    }
    
    #form-poster-detail{
        padding-left: 0;
    }
    #form-poster-decoration{
        display: none;
    }
    #form-poster-detail img{
        display: none;
    }
    #login-form{
        width: 100%;
    }
    #loginFormWarningContainer{
        width: 100%;
    }
    #portal-Accessibility-Toast{
        /** Right */
        position: absolute;
        right: 10px;
        top: 10px;
    }
    #portal-Accessibility-Toast-Button{
        padding: 4px 8px;
    }
    .opacity-0{
        opacity: 0;
    }
    .opacity-1{
        opacity: 1;
    }
    #portalForm{
        transition: all 1s ease-in-out;
    }
    #regForm{
        display: none;
    }
    #regFormPassword{
        height: 50px;
        background-color: rgba(255,255,255,0.2);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
        box-sizing: border-box;
        vertical-align: middle;
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
    }
    #show_passwordRegForm{
        box-sizing: border-box;
        vertical-align: middle;
        line-height: 1;
        margin-top: 8px;
    }
    #show_passwordRegForm:hover{
        --bs-btn-hover-bg: rgba(255,255,255,0.2);
    }
    #regForm-MFA{
        display: none;
        padding-left: 20px;
    }
    #regForm-MFA .input-group{
        display: flex;
        flex-wrap: nowrap;
    }
    .mfaTip{
        margin-left: 4px !important
    }
}