body{
    background-color: rgb(216, 216, 216);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    position: relative;
    min-height: 100vh;
}
html, body{
    scroll-behavior: smooth !important;
}
button{
    background-color: #f4f3f3;
    border: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

button:hover{
    background-color: #e6e6e6;
}
header{
    background-color: #2455E6;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
header h1{
    margin: 0;
    color: white;
}
#header-Right{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header-Right-Element{
    margin-left: 20px;
}
#quiz-Away{
    color:white;
    font-size: 18px;
    background-color: #2455E6;
    border: 0;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 2px solid #2455E6;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    font-family: inherit;
}
#quiz-Away:hover{
    background-color: white;
    color: #2455E6;
}
#quiz-Exit{
    color:white;
    font-size: 18px;
    background-color: #ff7d7d;
    border: 0;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 2px solid #ff7d7d;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    font-family: inherit;
}
#quiz-Exit:hover{
    background-color: white;
    color: #ff7d7d;
}
main{
    background-color: white;
    margin-left: 10px;
    margin-right: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 0 2px rgba(0,0,0,.6);
}
#quizArea{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#timer-allowed_Time{
    white-space: nowrap;
}
#quiz-Right{
    display: inline;
    margin-left: auto;
    float: right;
}
#quiz-Right button{
    background-color: #f4f3f3;
    border: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#quiz-Right button:hover{
    background-color: #e6e6e6;
}
img{
    justify-content: left;
    align-items: center;
    border: 2px solid black;
    box-shadow: 5px 5px 0 2px rgba(0,0,0,.6);
    width: 400px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}
.quiz-image-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.quiz-image-container-RHS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
}
.quiz-image-container-RHS button{
    margin: 20px;
    height: 40px;
    width: 100%;
}
#unfocus{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: hidden;
}
input[type=submit]{
    background-color: #f4f3f3;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    margin: 20px;

}
#quiz-Info-Container{
    background-color: white;
    margin-left: 10px;
    margin-right: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 0 2px rgba(0,0,0,.6);
    padding: 8px;
}
#quiz-Info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#quiz-Info p{
    margin: 0;
    padding: 0;
}
#quiz-Info h2{
    margin: 0;
    padding: 0;
}
#quiz-cdReamining{
    font-size: 48px;
    font-weight: bold;
    color: black;
    transition: all 0.2s ease-in-out;
}
.quiz-cdReamining-additional-text{
    margin-left: 20px;
    font-size: 16px;
    font-weight: normal;
}
#quiz-Progress{
    text-align: right;
    width: 40%;
}
#remaining-Questions{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: 8px;
    justify-content: flex-end;
}
.remaining-box{
    position: relative;
    height: 3ch;
    width: 20px;
    margin-left: 4px;
    margin-right: 4px;
    border: 2px solid #ff7d7d;
    text-align: center;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.remaining-box::after{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    margin: 0px;
    content: "";
    background-color: #ff7d7d;
    width: 100%;
}
.remaining-box-answered{
    border: 2px solid #168416;
}
.remaining-box-answered::after{
    background-color: #168416;
}
#quiz-GoDown::after{
    content: "";
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}
#quiz-Info-Feat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;

}
#checkQuizInfo{
    background-color: rgba(244, 243, 243, 0.5);
    position: fixed;
    bottom: 14vh;
    right: 0;
    border: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 26px;
    padding-bottom: 8px;
    cursor: pointer;
    z-index: 998;
}
#checkQuizInfo::after{
    content: "";
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
}
#checkQuizInfo.cqi-active::after{
    transform: rotate(-45deg);
}
#chatbot-iFrame{
    background-color: white;
    border: 2px solid black;
    visibility: hidden;
    position: fixed;
    bottom: 14vh;
    right: 20px;
    height: 40vh;
    width: 30vh;
    z-index: 9;
    margin: 2px;
}
.chatbot-iFrame-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;    
    background-color: #2455E6;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    
}
.chatbot-iFrame-header h2{
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.chatbot-iFrame-header button{
    background-color: #f4f3f3;
    border: 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 16px;
    vertical-align: middle;
}

#chatbot-iFrame iframe{
    height: calc(100% - 22px);
    width: 100%;
    border: 0;

}
.hintPromptContainer{
    max-height: 60vh;
    background-color: #e6e6e6;
    overflow-y:scroll;
    position: relative;
}
.hintPromptContainer h2{
    margin: 4px;
    
}
.hintPromptContainer h3{
    margin-left: 4px;
}
.forced-OnTop{
    position: fixed !important;
    z-index: 999 !important;
    margin-right: 20px;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.quiz-image-container-fullscreen{
    overflow: auto;
    height: 100%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#post-Review{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 0 2px rgba(0,0,0,.6);
    padding: 20px;
    width: 80%;
    flex-direction: column;
    justify-content: space-around; 
}
.correct{
    background-color: #b3ffb3;
}
.incorrect{
    background-color: #ff9999;
    
}
.resultContainer{
    width: 100%;
    color: black;
    padding: 2px;
    border: 2px solid gray;
}
.resultContainer p{
    margin: 0;
    padding: 0;
}
#music-player-container{
    background-color: white;
    margin-left: 10px;
    margin-right: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 0 2px rgba(0,0,0,.6);
    padding: 8px;
}
#music-player-container h2{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 620px) {
    .quiz-image-container{
        flex-direction: column;
    }
    .quiz-image-container-RHS{
        margin-top: 0px;
        margin-bottom: 0px;
        flex-direction: row;
    }
    .quiz-image-container-RHS button{
        margin: 20px;
        height: 40px;
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    img{
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
}