/** Middle search bar **/
#searchInputContainer{
    width: 100%;
    margin-bottom: 200px;
}
#searchInputForm{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .form-control:focus{
        border-color: #2455E6;
        box-shadow: none;
    }
} 
#formSearchBtn{
    border: 2px solid #2455E6;
    background-color: #2455E6;
    color: white;
}
#formSearchBtn:hover{
    background-color: white;
    color: #2455E6;
}
#formSearchBtn2{
    border: 2px solid #2455E6;
    background-color: #2455E6;
    color: white;
}
#formSearchBtn2:hover{
    background-color: white;
    color: #2455E6;
}
#searchInputContainer{
    margin-top: 4vh;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    align-self: stretch
}
/** Hide all other search bars **/
#searchbox{
    display: none;
}
#search{
    display: none;
}

/** Search result **/
#resultContainer {
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
    margin-left: 20px;
    margin-right: 20px;
}
#engineSwapper{
    width: 100%;
}
#formSearch:focus{
    border-color: #2455E6;
    box-shadow: none;
}
#engineSwapper li{
    margin-right: 10px;
    --bs-nav-pills-link-active-bg: #2455E6;
    --bs-nav-pills-link-active-color: white;
    --bs-link-color: #2455E6;
    transition: all 0.3s ease-in-out;
}
#engineSwapper li:hover{
    /** Darken the background color **/
    --bs-nav-pills-link-active-bg: rgb(39, 71, 166);
}
.result-item-text {
    margin-bottom: 20px;
}

.result-item-title {
    font-size: 1.5em;
    color: #2455E6
}

.result-item-link {
    color: #28a745;
    text-decoration: none;
}
.result-item-date {
    font-size: 12px; 
    color: #666; 
}
.result-item-description {
    margin-top: 10px; /* Adjust as needed */
}
.hashtagList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-size: 14px;
}
.hashtagList a{
    text-decoration: none;
}
.hashtagList li{
    margin-right: 8px;
}
.hashtagList li::before {
    content: "#";
    color: #2455E6;
}
#result-footer-btn{
    border: 2px solid #2455E6;
    background-color: #2455E6;
    color: white;
}
#result-footer-btn:hover{
    background-color: white;
    color: #2455E6;
}
.searchPage{
    float: right;
}
.hidden {
    display: none;
}
.alert-danger{
    margin-top: 20px;
    border: 0 !important;
    background-color: #ff7d7d !important;
    color: white !important;
}
.alert-warning{
    margin-top: 20px;
    border: 0 !important;
    background-color: #91acff !important;
    color: white !important;
}
#pageBtnList{
    --bs-pagination-active-bg: #2455E6;
    --bs-nav-pills-link-active-color: white;
    --bs-pagination-active-border-color: #2455E6;
}
#pageBtnList li{
    transition: all 0.5s ease-in-out;
}
#pageBtnList li:hover{
    /** Lighter the background color with border**/
    --bs-pagination-active-bg: white;
    --bs-pagination-active-border-color: #2455E6;
    --bs-pagination-active-color: #2455E6;
}