@media screen and (max-width: 1000px) {
    #header-Logo{
        display: none;
    }
    #searchbox{
        width: 160px;
    }
    .slogan{
        display: none;
    }
    #header-Title h1{
        margin-top: 0px;
    }
}
@media screen and (max-width: 900px) {
    .header-Right{
        display: none;
    }
    #headerDropDownMenu-Logo{
        display: inline-block;
    }
}
@media screen and (max-width: 680px) {
    .header-nav{
        display: none;
    }
}